@import url('../utils/global.css');

h1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}
h2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}
h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}
h4 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}
h5 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}
h6 {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

